{% extends "base.html" %}

{% block content %}

<div class="simpl_block" style="margin: 100px 400px 100px 400px; text-align: center;">
    {% if description %}
    <p>{{ description }}</p>
    {% else %}
    <p> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac eros et tellus malesuada blandit. 
        Sed maximus purus ac ultrices lacinia. Etiam venenatis est orci, a pellentesque augue volutpat vitae. 
        Praesent euismod aliquam orci, scelerisque hendrerit est accumsan vel. Vestibulum eget faucibus felis. 
        Aenean leo felis, congue sed dolor non, molestie rutrum dui. Fusce finibus lorem vitae sagittis scelerisque. 
        Aenean ut ultricies libero, et pulvinar diam. Vestibulum laoreet suscipit magna. Maecenas vel lorem aliquam, 
        pretium elit vel, dignissim libero. Suspendisse porttitor rhoncus tellus et laoreet. Nunc sed tortor rutrum, 
        molestie eros eget, consequat sapien. Proin non rutrum diam. Quisque posuere ac ipsum sit amet efficitur. 
        Aliquam mattis nunc non sem malesuada, id lobortis risus hendrerit.
        Donec at ligula risus. Aenean iaculis tortor ac neque egestas hendrerit. Proin eget magna vitae libero auctor 
        maximus. Vestibulum dictum leo nec nulla iaculis dapibus. Praesent varius dictum leo, placerat laoreet ipsum 
        dignissim non. Nulla ex ante, luctus ac rhoncus sit amet, ultrices nec risus. Nam nec feugiat lorem. In urna 
        lacus, accumsan id placerat non, finibus sed turpis. Cras non sodales mi, id egestas velit. Sed ex diam, bibendum 
        sit amet augue in, porta euismod nulla. Fusce tincidunt lectus finibus mi ultricies ornare. Class aptent taciti 
        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam commodo tortor sit amet sollicitudin 
        molestie. Etiam mattis at ipsum id condimentum. Duis eu lobortis eros, non egestas arcu. Maecenas interdum suscipit 
        blandit.        
        Nullam non sapien ut sem rhoncus semper. Aliquam hendrerit semper metus, ac tristique diam scelerisque vitae. 
        Nam vehicula lorem non erat tincidunt, eu feugiat purus sodales. Vestibulum convallis consequat semper. 
        Pellentesque arcu eros, consectetur consequat hendrerit vel, imperdiet et magna. Proin non nisl mauris. Proin sit 
        amet velit at tortor ultricies sollicitudin quis in orci. Ut vel risus et nibh mollis accumsan. Donec a sapien nec 
        velit molestie ultrices nec a sem. Proin vitae consequat massa. Sed fringilla sed eros vel sagittis. Curabitur risus 
        ipsum, auctor ut nunc sed, placerat convallis sem. Vestibulum ullamcorper malesuada ante ut finibus. Vestibulum 
        lacinia, urna eget pharetra commodo, sapien justo accumsan augue, id feugiat neque lacus id lorem.
    </p>
    {% endif %}
</div>

{% endblock %}